.calendar{
    width: 100%;

    padding: 100px 0 0;
    .ant-picker-calendar{
    .ant-picker-content td {
        .ant-picker-calendar-date {
height: 90px;

        }
    }
    }
    .header{
        display: flex;
        justify-content:space-between ;
        flex-direction: row;
        align-items: center;
        border-bottom:rgba(173, 184, 204, 1) 1px solid ;
        gap: 150px;
        padding: 0 40px;
    .links{
        display: flex;
        gap: 25px;
      
        a{
            display: inline-block;
            min-width: 90px;
            color: rgba(125, 143, 179, 1);
            font-size: 13px;
            font-weight: 700;
            line-height: 20px;
            padding: 18px 0;
            &:hover{
                color: rgba(51, 97, 255, 1);
                border-bottom: rgba(51, 97, 255, 1) solid 1px;
                transition: none;
             
            }
            img{
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 8px;
            }
            
        }
    }
    .search{
        width: 220px;
        border: #ffffff 1px solid;
        border-radius: 20px;
        background-color: #ffffff;
        padding: 5px 10px;
        input{
            width: 100px;
            border: none;
            background-color: transparent;
            
            font-size: 12px;
            font-weight: 700;
            line-height: 20px;
            margin-left: 10px;
    &::placeholder{
        color: rgba(125, 143, 179, 1);
     
    }
        }
    }
    }
    }
